absl-py==2.0.0
accelerate==0.24.1
aenum==3.1.15
aiohttp==3.9.1
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.4.1
async-timeout==4.0.3
attributedict==0.3.0
attrs==23.2.0
auto-gptq
autoawq==0.1.7
autograd==1.6.2
autograd-gamma==0.5.0
Babel
backcall
backoff==2.2.1
backports.functools-lru-cache
bcrypt==4.0.1
beautifulsoup4==4.12.3
bleach
blessings==1.7
blis==0.7.11
blosc==1.11.1
Brotli
cachetools==5.3.2
catalogue==2.0.10
category-encoders==2.6.3
causal-learn==0.1.3.7
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
clarabel==0.6.0
clarifai==9.8.2
clarifai-grpc==9.8.4
click==8.1.7
cmake==3.27.5
cmcrameri==1.9
codecov==2.1.13
cohere==4.27
colorama==0.4.6
coloredlogs==15.0.1
colour-runner==0.1.1
comm==0.2.1
confection==0.1.3
conllu==4.5.3
contextlib2==21.6.0
contourpy==1.2.0
coverage==7.3.2
cramjam==2.7.0
cryptography==41.0.5
cvxopt==1.3.2
cvxpy==1.4.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.8
dataclasses-json==0.6.1
DataProperty==1.0.1
datasets==2.14.5
db-dtypes==1.2.0
debugpy==1.8.0
decorator==5.1.1
deep-translator==1.11.4
deepdiff==6.7.1
deepl==1.16.1
defusedxml
dill==0.3.7
distlib==0.3.7
docker-pycreds==0.4.0
dowhy==0.11.1
ecos==2.0.12
ehrapy==0.6.0
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz#sha256=b64746e84ca033bf4158fb811d93d50cfd8f75fead85c7261e4e6119bacded22
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing==2.0.1
exllamav2==0.0.8
fancyimpute==0.7.0
fastavro==1.8.2
fastjsonschema
fastparquet==2023.8.0
fhiry==3.2.2
filelock==3.12.4
fire==0.5.0
fonttools==4.47.2
formulaic==1.0.1
frozenlist==1.4.1
fsspec==2023.6.0
future==0.18.3
gekko==1.0.6
gitdb==4.0.11
GitPython==3.1.41
google-api-core==2.15.0
google-auth==2.26.2
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.16.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.60.0
huggingface-hub==0.21.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.6
igraph==0.10.8
imageio==2.33.0
importlib-metadata
importlib-resources
iniconfig==2.0.0
inspecta==0.1.3
interface-meta==1.3.0
ipykernel==6.29.0
ipython==8.20.0
ipython-genutils==0.2.0
jedi==0.19.1
Jinja2
joblib==1.3.2
json5
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema
jsonschema-specifications
jupyter-server
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver==1.4.5
knnimpute==0.1.0
langchain==0.0.302
langcodes==3.3.0
langsmith==0.0.41
lazy_loader==0.3
leidenalg==0.10.1
liac-arff==2.5.0
lifelines==0.28.0
lightgbm==4.2.0
lightly==1.4.26
lightly-utils==0.0.2
lightning==2.1.3
lightning-bolts==0.7.0
lightning-utilities==0.10.1
lit==17.0.1
llvmlite==0.41.1
lm-eval==0.3.0
loguru==0.7.2
manifest-ml==0.0.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
medmnist==2.2.3
miceforest==5.7.0
minio==7.2.4
missingno==0.5.2
mistune
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclassic
nbclient
nbconvert
nbformat
negspacy==1.0.4
nest-asyncio==1.5.9
networkx==3.1
ninja==1.11.1.1
nlpcloud==1.1.44
nltk==3.8.1
nmslib==2.1.1
nose==1.3.7
notebook_shim
numba==0.58.1
numexpr==2.8.7
numpy==1.26.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.28.1
openlm==0.0.5
openml==0.14.2
openpyxl==3.1.2
optimum==1.14.1
ordered-set==4.1.0
osqp==0.6.3
packaging==23.1
palettable==3.3.3
pandas==2.1.1
pandocfilters
paramiko==3.3.1
parso==0.8.3
pathvalidate==3.2.0
pathy==0.10.2
patsy==0.5.3
peft==0.5.0
pexpect==4.9.0
pickleshare
pillow==10.2.0
pkgutil_resolve_name
platformdirs==4.1.0
pluggy==1.3.0
portalocker==2.8.2
preshed==3.0.9
prometheus-client
prompt-toolkit==3.0.43
protobuf==4.23.4
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.6.2
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.14
pydot==2.0.0
Pygments==2.17.2
PyNaCl==1.5.0
pynndescent==0.5.11
pyparsing==3.1.1
pyproject-api==1.6.1
pysbd==0.3.4
PySocks
pytablewriter==1.2.0
pytest==7.4.4
python-dateutil
python-rapidjson==1.11
pytorch-lightning==1.9.5
pytz
PyYAML==6.0.1
pyzmq==25.1.2
qdldl==0.1.7.post0
rapidfuzz==3.6.1
redis==5.0.1
referencing
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rootpath==0.1.1
rouge==1.0.1
rouge-score==0.1.2
rpds-py
rsa==4.9
sacrebleu==1.5.0
safetensors==0.4.2
scanpy==1.9.6
schema==0.7.5
scikit-image==0.22.0
scikit-learn==1.3.1
scikit-misc==0.3.1
scipy==1.11.2
scispacy==0.5.2
scs==3.2.4.post1
seaborn==0.13.1
Send2Trash
sentencepiece==0.1.99
sentry-sdk==1.39.2
session_info==1.0.0
setproctitle==1.3.3
six
smart-open==6.4.0
smmap==5.0.1
sniffio
soupsieve==2.5
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.21
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.3
statsmodels==0.14.0
stdlib-list==0.10.0
sympy==1.12
tabledata==1.3.3
tabulate==0.9.0
tcolorpy==0.1.4
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
termcolor==2.3.0
terminado
texttable==1.7.0
thefuzz==0.20.0
thinc==8.1.12
threadpoolctl==3.2.0
tifffile==2023.9.26
tiktoken==0.5.1
tinycss2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
torch==2.0.1
torchaudio==2.0.2
torchmetrics==1.3.0.post0
torchvision==0.16.2
tornado==6.4
tox==4.11.4
tqdm==4.66.1
tqdm-multiprocess==0.0.11
traitlets==5.14.1
transformers==4.38.1
transtab==0.0.5
triton==2.0.0
tritonclient==2.34.0
typepy==1.3.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions
tzdata==2023.3
umap-learn==0.5.5
urllib3==2.1.0
virtualenv==20.25.0
wandb==0.16.2
wasabi==0.10.1
wcwidth==0.2.13
webencodings
websocket-client
websockets==11.0.3
Werkzeug==3.0.1
wrapt==1.16.0
xgboost==2.0.3
xmltodict==0.13.0
xxhash==3.3.0
yarl==1.9.4
zipp
zstandard==0.22.0
